<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container mt-3">
            <h2>Registrar cliente</h2>
            <form action="/clientes" method="post">
                <div class="mb-3 mt-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" name="nombre" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese el email" name="email" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Ingrese el teléfono" name="telefono">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/listadoclientes" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
